.first{
   text-align:center;

}
.second{
    flex-direction:column;
    gap:10px;
    text-align:right;
}

.main-container{
    display: flex;
    gap:25px;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    align-items: flex-start;
}

.container{
    width:90%;
    max-width:1000px;
    margin : right;
    padding: 30px;
    background-color: white;
    border-radius:12px;
    box-shadow: 0 4px 15px blue;
    flex:1;
    min-height:250px;
}

.container-right{
    width:90%;
    max-width:1000px;
    background-color: white;
    padding:30px;
    border-radius:12px;
    margin:left;
    flex:1;
    min-height:250px;
    box-shadow: 0 4px 15px blue; 
}

